<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="ANGULAR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/angular.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/angular.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxSizeCap>2000KB</maxSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxSizeCap>2000KB</maxSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <Logger name="Security" level="INFO">
        <appender-ref ref="SPRING"/>
    </Logger>

    <Logger name="Angular" level="ERROR" additivity="true">
        <appender-ref ref="ANGULAR"/>
    </Logger>

    <Logger name="Spring" level="ERROR" additivity="true">
        <appender-ref ref="SPRING"/>
    </Logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
