<!DOCTYPE html>
<html lang="en">


<!-- Insert head -->
<head th:replace="~{shared/head :: head}"></head>


<body id="admin">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Insert header -->
    <nav th:insert="~{shared/header :: header}" th:with="href1='/index#home', href2='/index#about', href3='#/indexservices', href4='#/index#contact', href5='#login', href6='/index#contact', home_active='', login_active=' active', login_text='Logged In'"></nav>


    <!-- Page Header Start -->
    <div class="container-fluid page-header my-5 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Your Invoices</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Form Start -->
    <div class="container">
        <h6 class="text-primary text-uppercase mb-2">Invoices</h6>
        <p>It's time to pay</p>
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                    <tr>
                        <th class="text-center align-middle">Customer ID</th>
                        <th class="text-center align-middle">Service</th>
                        <th class="text-center align-middle">Date</th>
                        <th class="text-center align-middle">Price</th>
                        <th class="text-center align-middle">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id='addr0'>
                        <td class="text-center align-middle">1</td>
                        <td><input type="text" name='product[]'  placeholder='Enter Service Name' class="form-control"/></td>
                        <td><input type="date" name='qty[]' placeholder='Enter Date' class="form-control qty" step="0" min="0"/></td>
                        <td><input type="number" name='price[]' placeholder='Enter Price' class="form-control price" step="0.01" min="0"/></td>
                        <td><input type="number" name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
                    </tr>
                    <tr id='addr1'></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row clearfix mt-2 d-flex flex-row-reverse">
            <div class="col-md-4 mt-2">
                <table class="table table-bordered table-hover" id="table-total">
                    <tbody>
                    <tr class="align-self-end">
                        <th class="text-center align-middle">Sub Total</th>
                        <td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle">Tax</th>
                        <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                            <input type="number" class="form-control" id="tax" placeholder="0">
                            <span class="input-group-text">%</span>
                        </div></td>
                    </tr>
                    <tr>
                        <th class="text-center align-middle">Tax Amount</th>
                        <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
                    </tr>
                    <tr id="last-row">
                        <th class="text-center align-middle">Total</th>
                        <td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Form End -->


    <!-- Insert footer -->
    <footer th:insert="~{shared/dynamic-footer :: footer}"></footer>


    <!-- JavaScript Libraries -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Custom Javascript -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
