<!-- Navbar Start -->
<nav th:fragment="header" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <div class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <img th:src="@{image/man.png}" class="d-inline-block align-top logo" alt="">
        <h2 class="m-0"><i class="text-primary me-2"></i>MGM</h2>
    </div>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="#home" data-th-href="${href1}" class="nav-item nav-link" th:classappend="${home_active}">Home</a>
            <a href="#about" data-th-href="${href2}" class="nav-item nav-link">About</a>
            <a href="#services" data-th-href="${href3}" class="nav-item nav-link">Services</a>
            <a href="#contact" data-th-href="${href4}" class="nav-item nav-link">Contact</a>
            <a href="login.html" data-th-href="${href5}" class="nav-item nav-link" th:classappend="${login_active}"
               th:text="${login_text}"></a>
        </div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" value="logout"/>
        </form>
        <a id="logoutLink" href="javascript: document.logoutForm.submit()" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
           th:text="${tref7}">
            <i class="fa fa-arrow-right ms-3"></i>
        </a>
    </div>
</nav>
<!-- Navbar End -->
